{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div id="root"></div>
    <h2>{{ 'New location'|trans }}</h2>
    {{ form(form) }}

{% endblock %}
