{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    <h1>{{ company.title }}</h1>
    <div>
        {{ company.description }}
    </div>
{% endblock %}
