{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}


    <h2>{{ 'Edit delivery'|trans }}</h2>
    {{ form(form) }}

{% endblock %}
