{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    {% for company in companies %}
        <a class="" href="{{ path('app_company_detail', { id: company.id}) }}">
            {{ company.title }}
        </a><br />
    {% endfor %}
{% endblock %}
